#root {

  text-align: center;
  
}
main{
  min-height: 100vh;
  padding: 0px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.mx-auto {
  margin: 0 auto; 
}

.logout-link {
  position: absolute;
  right: 0; 
}
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  min-width: 40px;
  background-color: #f8f9fa;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 10px;

  &.profile-button,
  &.home-button,
  &.post-button {
    cursor: pointer;
    color: #646cff;
  }
}

.buttons-container {
  display: flex;
  align-items: right;
  button {
    margin-left: 10px;
  }
}

.section-title {
  text-align: left;
  padding-top: 15px;
}

.btn-close {
  color: white;
}

.btn-close:hover {
  border: 0px;
}

.btn-close:active {
  border: 0px;
}

.close-button-icon  {
  cursor: pointer;
}

.navbar-icon {
  font-size: 24px;
  margin-right: 10px;
}

.delete-comment {
  cursor: pointer;
}

.like-icon {
  cursor: pointer;
  color: rgb(220, 25, 25);
}

.navbar-add {
  width: 50px;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: black;
  text-align: left;
}

.navbar-logout {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: auto;
}

/* Responsive styles */

/* styles.css */
/* HomePage.css */
.homepage-container {
  width: 100%;
  display: flex;
  flex-direction:column
 
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  justify-content: left;
  margin-top: 10px;
}

.filter-buttons button p {
  margin: 0px;
}

.filter-buttons button {
  padding: 10px 20px;
  background-color: #353434;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.filter-buttons button:hover {
  background-color: #e0e0e0;
}

.homepage {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  padding: 20px;
}

.posts {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}

/* Responsive styles */



@media (max-width: 768px) {
  .homepage-container {
    min-width: auto;
    padding: 10px;
  }

  .filter-buttons {
    flex-direction: row;
    gap: 5px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-evenly;
    align-items: center;
  }
}
    .navbar {
    width: 70px;
  }

  .nav-link {
    display: none;
  }

  .navbar-icon {
    margin-right: 0;
  }
/*-----POSTCARD-----*/
.post-container {
  display: flex;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: auto;
  min-width: 190px;
}

.image-wrapper {
  margin-left: -5px;
  margin-right: 10px;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 49%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.author-info {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-size: 14px;
  font-weight: bold;
  color: #14171a;
}

.username {
  font-size: 12px;
  color: #657786;
}

.visibility {
  font-size: 12px;
  color: #657786;
  font-style: italic;
}

.content {
  font-size: 14px;
  color: #14171a;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.interaction-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 15px;
  font-size: 14px;
  color: #657786;
}

.like-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}

.like-count {
  margin: 0;
  padding: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
